*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body-container {
  display: flex;
  /* height: 100%; */
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content {
  background-image: url("images/pattern-bg-mobile.png");
  background-repeat: no-repeat;
  display: grid;
  justify-items: center;
  text-align: center;
}

.info-container {
  position: absolute;
}

#map {
  height: 100%;
  width: 375px;
}
